@import "reset";
@import "typography";
@import "nav";

$primary-color: #f6f4f4;
$secondary-color: #929abb;
$text: #151926;
$active: #e16550;
$soft: #ee856d;
$body-font: "Barlow";

$font-alt: "Raleway", sans-serif;

$t-primary: #f8f5f3;
$t-secondary: #979797;
$t-tertiary: #d9a563;
$t-text: #353f54;
$t-alt: #a24b40;

$mq-large: 1000px;
$mq-medium: 600px;

@mixin media-query($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: $primary-color;
  font-family: $font-alt;
  overflow-x: hidden;
  line-height: 1.5;
}

.main {
  position: relative;
  z-index: 1;
  background-color: $primary-color;
  min-height: 100vh;
  transition: transform 0.8s;
  border-bottom: 1px solid $primary-color;
}

.main.open {
  transform: translateX(240px);
}

section:not(:first-of-type) {
  margin: 0 80px 40px 120px;
  @include media-query($mq-medium) { 
    margin: 20px 10px 40px 10px;
  }
}

section:first-of-type {
  margin: 20px 80px 40px 80px;
  @include media-query($mq-medium) { 
    margin: 40px 10px 40px 10px;
  }
}

//each of the sections i.e. about, projects, skills etc. (displayed as flex)
section {
  z-index: 2;
  display: flex;
  height: 50vh;
  justify-content: space-evenly;
  align-items: center;

  .image-fade-in {
    flex: 1 1 50%;
    overflow: hidden;
    padding: 20px;
  }

  .fade-in {
    flex: 2 2 50%;
  }

  img {
    max-width: 80%;
    height: auto;
  }

  @include media-query($mq-large) {
    margin: 0 20px 10px 20px;
  }

  @include media-query($mq-medium) {
    flex-direction: column;
    height: inherit;
  }
}

.intro-text {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  align-items: center;

  @include media-query($mq-medium) {
    justify-content: center;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 24px;
  }
}

.intro-image, .about-image, .skills-image, .projects-image {
  text-align: center;
}

section.about {
  flex-direction: row-reverse;

  @include media-query($mq-medium) {
    flex-direction: column;
  }
}

.about-text {
  padding: 10px 20px 10px 20px;
  h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: $soft;
  }
  @include media-query($mq-medium) {
    text-align: center;
  }
}

section.projects {
  flex-direction: row-reverse;

  @include media-query($mq-medium) {
    flex-direction: column;
  }

}

.skills-list {
  padding: 10px 20px 10px 60px;
  h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: $soft;
    @include media-query($mq-medium) {
      padding-left: 10px;
    }
  }
  ul {
    li {
      @include media-query($mq-medium) {
        display: inline-block;
        padding-left: 10px;
      }
    }
  }

  @include media-query($mq-medium) {
    padding-left: 20px;
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  height: 100px;

  @include media-query($mq-medium) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
}

.projects-list {
  .repo {
    margin-bottom: 12px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: $soft;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 8px;
    padding-left: 12px;
  }

  a {
    text-decoration: none;
    color: $active;
    display: inline-block;
    padding-left: 12px;
  }

  @include media-query($mq-medium) {
    text-align: center;
  }
}

.social {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
  }

  @include media-query($mq-medium) {
    margin-bottom: 20px;
  }
}

.social-list {
  li {
    a {
      svg {
        path {
          transition: fill 0.5s;
        }
      }
    }
  }
}

.social-list {
  li {
    a {
      svg:hover {
        path {
          fill: $active;
        }
      }
    }
  }
}

.contact {
  a {
    text-decoration: none;
    color: $text;
    font-weight: bold;

    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 160px;
  }
}

#home-image {
  transform: rotate(90deg);
}
